# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\TaiLieu\Nam4_HK1\CongNgheMoiCNTT\workspace\nodejs\Bai2_DinhDangKhoa_17080051\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
